<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Il mio fotoalbum</title>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>

</head>
<body th:object="${photo}">
	<header th:replace="~{frag :: header()}"></header>
	<div class="container-lg">
		<div class="row">
			<div class="col-12 mb-3">
				<h1>Foto [[*{title}]]</h1>
			</div>
			<div class="col-12">
				<div class="card">
				  <img class="card-img-top" th:src="*{url}" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">[[*{title}]]</h5>
				    <p class="card-text">[[*{description}]]</p>
				    <span class="bg-primary rounded text-white p-2 mb-3 d-inline-block">[[*{tag}]]</span>
				    <p>
				    	Visibile: <span>[[*{visible}]]</span>
				    </p>
				    <p>Categorie: <span th:each="category : ${categories}" th:object="${category}">"[[*{name}]]" </span></p>
				  	<h6 th:if="${!comments.isEmpty()}">Commenti:</h6>
				  	<ul>
				  		<li th:each="comment : ${comments}" th:object="${comment}">[[*{text}]]</li>
				  	</ul>
				  </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>